<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.mapper.FamilyMapper">

    <select id="getMemberInfo" resultType="com.web.pojo.Person">
        SELECT *
        FROM person
        WHERE family_id = #{familyId}
    </select>
    <select id="getFamilyMemberId" resultType="java.lang.Integer">
        SELECT id
        FROM person
        WHERE family_id = #{familyId}
    </select>
    <select id="getMeasureDateById" resultType="com.web.pojo.MeasureDate">
        SELECT *
        FROM measure_data
        WHERE person_id = #{id}
    </select>
    <select id="getAppointmentsByMemberId" resultType="com.web.pojo.Appointment">
        SELECT *
        FROM appointment
        WHERE person_id = #{id}
    </select>


</mapper>